<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDao">
    <insert id="insert" parameterType="com.baizhi.entity.User">
        insert into t_user values(#{id},#{username},#{phoneNum},#{password},#{dharmaName},#{gender},#{headPic},#{signature},#{province},#{city},#{status},#{createDate})
    </insert>

    <delete id="delete" parameterType="String">
        delete from t_user where id=#{id}
    </delete>

    <update id="update" parameterType="com.baizhi.entity.User">
        update t_user set id=#{id},username=#{username},phoneNum=#{phoneNum},password=#{password},dharmaName=#{dharmaName},gender=#{gender},headPic=#{headPic},signature=#{signature},province=#{province},city=#{city},status=#{status},createDate=#{createDate} where id=#{id}
    </update>

    <select id="findAll" resultType="com.baizhi.entity.User">
        select id,username,phoneNum,password,dharmaName,gender,headPic,signature,province,city,status,createDate from t_user
    </select>

    <select id="queryOne" parameterType="String" resultType="com.baizhi.entity.User">
        select id,username,phoneNum,password,dharmaName,gender,headPic,signature,province,city,status,createDate from t_user where id=#{id}
    </select>
    
    <select id="findByPage" resultType="com.baizhi.entity.User">
        select id,username,phoneNum,password,dharmaName,gender,headPic,signature,province,city,status,createDate from t_user limit #{start},#{rows}
    </select>

    <select id="findTotals" resultType="long">
        select count(a.id) from t_user c inner join t_user a on c.id=a.id
    </select>


</mapper>
